body{
	margin: 0;
	padding: 0;	
	background-image: linear-gradient(to top, #178B9C, #50E9E0);
	background-repeat: no-repeat;
	font-family: 'Muli', sans-serif;
}

header{
	width: 100%;
	text-align: center;
	margin: 5% 0;
}

h1 {
	text-align: center;
}

#main {
	width: 65%;
	background: #FFFFFF;
	margin: 5% 17.5%;
	border-radius: 15px;
	padding: 15px;
}

#content {
	width: 95%;
	margin: 2.5%;
}

#content h2{
	margin: 2% 0 ;
	text-align: left;
	font-size: 24px;
}

button  {
	margin: 2% 10% ;
	text-align: center;
}

#but {
margin: 2% 40%;
width: 20%;
}

#nextButton {
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(66, 184, 221);
    font-size: 1em; 
}

p{
	text-align: left;
}

table, td, th {
  border: 1px solid black;
 border-collapse: collapse;
}

td, th {
	padding: 5px;
}

table input {
	margin: auto;
	display: block;
}

.sel, .sel option {
	width: 130px;
}

#timer{
	color: #fff;
	position: fixed;
	padding: 10px;
	bottom: 2%;
	right: 2%;
	background-color: #FF4136; 
	border-radius: 5px;
	text-align: center;
	margin: 0 2% 0 80%;
}

